body{
    background-size: auto;
    size-adjust:auto;
    height:4175.95px;
    background-color:grey;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(900px);
}
#noob{
    background-size: auto;
height: 4175.95px;
}
#mai
{
    background-size: auto;
    height: 700px;
    background-color: beige;
    background-image: url(IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
#hea{
    flex-direction: row;
    background-size: auto;
    size-adjust:auto;
    box-sizing: border-box;
    background-color:;
    margin-top: -0.5rem;
    width:1189.33px
    height: 92px;
    padding:48px;
    
    
    
}
#hei
{
    background-size: auto;
    size-adjust: auto;
    box-sizing: border-box;
    background-color:;
    width:1109.33px;
    height:80px;
    
}
#net
{
    size-adjust: auto;
    color: rgb(255, 4, 0);
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 50px;
        box-sizing: border-box;
        max-resolution: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 120px;
        ;
        
}
#lann
{
    border: 3px solid #fff;
     box-sizing: border-box;
     margin-left:573px;
     margin-top: 89px;
     background-color:transparent;
     color: aliceblue;
     border:3px solid gray;
     
     width: 82px;
     height: -3px;
     font-size:medium;
     border-radius: 3px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
#imgg
{
    background-color: transparent;
    margin-left:572px;
}
#bu
{
    width:89px;
    height:34px;
    background-color: red;
    color:white;
    font-weight: bolder;
    font-size: medium;
    border: radius 23px;;
}
#solo
{
    font-family: sans-serif;
        font-size:21px;
        text-align: center;
        
        width: 1003.6px;
        height: 237.2px;
        font: size:2em;
        color:white;
        margin-left: 166px;
}
#nee
{
    width: 984px;
    height: 102px;
}
#yoi
{
    width: 920px;
    height: 102px;
}
h2{
    width: 920px;
    height: 30px;
}
#yoo
{
width: 586px;
height: 56px;
}
#poo
{
    width:375.26px;
    height: 56px;
}
#rrr
{
        width: 343.26px;
            height: 24px
}
#search
{
    width: 421.26px;
    height: 56px;
    background-color:transparent;
    margin-left:-10px;
    position: absolute;
    top:426px;
    filter: drop-shadow(400px);
   
}
.default-ltr-cache-emv211{
        -webkit-text-size-adjust: 100%;
        font-family: sans-serif;
        letter-spacing: normal;
        line-height: 100%;
        text-align: left;
        fill: currentcolor;
        font-size: 1rem;
        font-weight: 400;
        color: transparent;
        position: absolute;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border: 1px solid black;
        user-select: none;
        border-width: 1px;
        border-style: solid;
        border-radius: 0.25rem;
        background: rgba(22, 22, 22, 0.7);
        border-color: rgba(128, 128, 128, 0.7);
    }
        #buuu{
                -webkit-text-size-adjust: 100%;
                    overflow: visible;
                    text-transform: none;
                    appearance: none;
                    font-style: inherit;
                    font-variant: inherit;
                    font-stretch: inherit;
                    font-family: inherit;
                    font-optical-sizing: inherit;
                    font-kerning: inherit;
                    font-feature-settings: inherit;
                    font-variation-settings: inherit;
                    margin: 0px;
                    text-decoration: none;
                    -webkit-box-align: center;
                    align-items: center;
                    box-sizing: border-box;
                    display: inline-flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    letter-spacing: normal;
                    line-height: 1;
                    user-select: none;
                    border: 0px;
                    border-radius: 0.25rem;
                    cursor: pointer;
                    fill: currentcolor;
                    position: relative;
                    transition-duration: 250ms;
                    transition-property: background-color, border-color;
                    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
                    vertical-align: text-top;
                    width: auto;
                    font-size: 1.5rem;
                    font-weight: 500;
                    min-height: 3.5rem;
                    padding: 0.75rem 1.5rem;
                    background: rgb(229, 9, 20);
                    color: rgb(255, 255, 255);
                    flex: 0 0 auto;
                    margin-top: 8px;
                    margin-left: 33.5rem;
        }
        #rere
        {
            width:1427.2px;
            height:553.49px;
            background-color: black;
        }
        #rew
        {
            width:1093.33px ;
            height:409.49px ;
        }
                #redi {
                    width:546.66px ;
                    height:138.4px ;
                }#oooo {
                    font-weight:900;
                    font-size:64px;
                    font-family: sans-serif;
                    width:540.66px ;
                    height:68px ;
                    color: aliceblue;
                    color: aliceblue;
                        position: absolute;
                        left:164px;
                        top:715px;
                }#rfrf{
                    font-weight: 400;
                    font-size:26px;
                    font-family: sans-serif;
                    width: 540.66px;
                    height: 54.4px;
                    color: aliceblue;
                    position: absolute;
                    left: 170px;
                    top:923px;
                }#yut {
                    width:546.66px ;
                    height:409.49px ;
                }#popo {
                    width: 546.66px;
                    height:409.49px ;
                }#lolo {
                    margin-left: 700px;
                    margin-top: -119px;
                }
                #vid{
                    height:221.11px ;
                    width: 394.68;
                        position:absolute;
                        top: 856px;
                        left: 788px;
                }
                #ab
                {
                    width:1427.2px;
                    height:553.49 px;
                    background-color: black;
                    
                } #cd {
                     width:1093.33 px;
                     height:409.49 px;
                
                 } #ef {
                     width:546.66 px;
                     height:298.4 px;
                
                 } #fg{
                     width: 540.66px;
                     height: 204px;
                     color: #fff;
                     font-weight: bolder;
                     font-size:64px;
                    font-family: sans-serif;
                     position: absolute;
                     left:832px;
                     top:1235px;
                 } #gh {
                    
                    font-weight: bolder;
                    
                    
                     width:540.66px;
                     height: 54.4px;
                    font-size:21px;
                    color: #fff;
                        font-family: sans-serif;
                        position: absolute;
                        left: 832px;
                        top:1534px;
                 } #hi{
                     width: 546.66px;
                     height: 409.49px;
                     margin-top:1px;
                     margin-left: 1px;
                    
                 } #ij {
                     width:540.66px;
                     height:409.49px;
                     margin-left: 1px;
                     margin-top: auto;
                
                 } #jf{
                     width:540.66px;
                     height:405.49px;
                     position: absolute;
                     left:244px;
                     top:1255px;
                 } #jp {
                     width:297.52px;
                     height: 103.2px;
                     position: absolute;
                     left:364px ;
                     top:1534px;
                     background-color: black;
                
                 } #yu {
                     width:57.14px;
                     height:84px;
                
                 } #jg {
                     width:57.14px;
                     height:80px;
                     position: absolute;
                     top:9.8px;
                     left:11px;
                 } #pg {
                     width:149.19px;
                     height:35.2px;
                     position: absolute;
                     top:29.8px ;
                     left:98px;
                 } #op {
                     width: 149.19px;
                     height:18.4px;
                color: #fff;
                font-size:large;
                font-family: sans-serif;
                 } #oi {
                     width: 149.19px;
                     height: 16.8px;
                     color:blue;
                     font-size: large;
                     font-family: sans-serif;
                 }
                 #n1
                 {
                    width: 1427.2px;
                    height: 553.49px;
                    background-color: black;
                 }
                                 #n2 {
                                     width: 1093.33px;
                                     height: 409.49px;
                                 }#n3 {
                                    width: 546.66px;
                                    height: 138.4px;
                                }#n4 {
                                    width: 648.66px;
                                    height: 68px;
                                    color:white;
                                    font-weight: bolder;
                                        font-size: 71px;
                                        font-family: sans-serif;
                                         position: absolute;
                                         top:1826px;
                                         left:64px;
                                }#n5 {
                                    width: 648.66px;
                                    height: 54.4px;
                                    font-size: 26px;
                                        color: #fff;
                                        font-family: sans-serif;
                                        position: absolute;
                                            top:1971px;
                                            left:64px;
                                }#n6 {
                                    width: 546.66px;
                                    height: 409.49px;
                                }#n7 {
                                    width: 540.66px;
                                    height: 409.49px;
                                }#n8 {
                                    width: 540.66px;
                                    height: 405.49px;
                                    position: absolute;
                                        top:1778px;
                                        left:730px;
                                }#n9 {
                                    width: 308.61px;
                                    height: 192.45px;
                                }#n10 {
                                    width: 308.61px;
                                    height: 192.45px;
                                    position: absolute;
                                        top: 1804px;
                                        left: 836px;
                                }
   #s1 {
       width: 1427.2px;
       height: 553.49px;
       background-color: black;
   }

   #s2 {
       width: 1093.33px;
       height: 409.49px;
   }

   #s3 {
       width: 546.66px;
       height: 138.4px;
   }

   #s4 {
       width: 648.66px;
       height: 68px;
       color: white;
       font-weight: bolder;
       font-size: 71px;
       font-family: sans-serif;
       position: absolute;
       top: 2233px;
       left: 753px;
   }

   #s5 {
       width: 648.66px;
       height: 54.4px;
       font-size: 26px;
       color: #fff;
       font-family: sans-serif;
       position: absolute;
       top: 2460px;
       left: 758px;
   }

   #s6 {
       width: 546.66px;
       height: 409.49px;
   }

   #s7 {
       width: 540.66px;
       height: 409.49px;
   }
   #s8 {
       width: 540.66px;
       height: 405.49px;
       position: absolute;
       top: 2237px;
       left: 194px;
   }
   #o1
   {
    width: auto;
    font-size: 3rem;
    font-weight: 900;
   }
   #o2{
    font-size: 24px;
   }
   #o3
   {
    width: auto;
    font-size: 24px;
    position: absolute;
    left:306px;
   }